body {
    background-color: lightgray;
  }

* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}
.middle {
    width: 50%;
    background-color: gray;
}
.side {
    width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}