body {
    background-color: lightgray;
  }

  .ButtonLabel {
    padding: 2px;
    margin: 2px 2px;
    font-size: 14px;
  }

  .ResourceButton { /* Clicky Button */
    background-color: gray;
    border: none;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 8px;
    width: 150px;
  }

  /* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 15%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Tooltip Hover Text */
.ResourceButton .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 14px;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.ResourceButton:hover .tooltiptext {
  visibility: visible;
}

.SubHeader {
  color: black;
}